{{#Base}}
    <div id="login" class="login">
        {{#Page}}
            {{{AuthForm response=response onSubmit=onSubmit title=title buttonLabel=buttonLabel linkUrl=linkUrl linkText=linkText fields=fields }}}
        {{/Page}}
    </div>
{{/Base}}






