@import "../../styles/variables";

.button{
  background-color: $global-accent-color;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;

  &_full-width{
    width: 100%;
  }
}

