@import "../../styles/mixins";
@import "../../styles/variables";

.chat{
  @include flexbox(center, flex-start, nowrap);

  max-width: 1280px;
  margin: 0 auto;
  border-right: 1px solid #EAEAEA;
  border-left: 1px solid #EAEAEA;

}

.chat__aside{
  width: 310px;
  padding: 30px 0;
  background-color: #FBFBFB;
  height: calc(100vh - 50px);
  overflow-y: auto;
  border-right: 1px solid #EAEAEA;
}

.chat__body{
  width: 100%;
  padding: 0 20px;
}

.create-chat-form {
  margin: 20px 0;
  padding: 0 10px;

  h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
  }

  label {
    display: none;
  }
  input {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: #EFEFEF;
  }
}
