<div class="dialog-input">
    <form class="dialog-input__form" action="">
        <div class="media-selector">
            <img width="32px" height="32px" src="{{attachImg}}" alt="attach">
        </div>
        <div class="dialog-input__text">
            <label for="dialog-input__text">
                {{{Input class="dialog-input__message" id="dialog-input__text" name="message" type="text"}}}
            </label>
        </div>
        <button class="dialog-input__send">
            <img width="28px" height="28px" src="{{sendImg}}" alt="attach">
        </button>
    </form>
</div>
