<div class="dialog-input">
    <form action="">
        <div class="media-selector">
            <img width="32px" height="32px" src="/components/chat/dialog-body/dialog-input/img/attach.svg" alt="attach">
        </div>
        <div class="dialog-input__text">
            <label for="dialog-input__text">
                {{{Input class="dialog-input__message" id="dialog-input__text" name="message" type="text"}}}
            </label>
        </div>
        <button type="button" class="dialog-input__send">
            <img width="28px" height="28px" src="/components/chat/dialog-body/dialog-input/img/send.svg" alt="attach">
        </button>
    </form>
</div>
