{{#Base}}

<div id="profile" class="profile-page">

    {{#Page}}
        {{{ProfileForm name=userName fields=fields}}}
        <div class="profile-page__controls">
            {{{ Link url='#' text='Изменить данные'}}}
            {{{ Link url='#' text='Изменить пароль'}}}
            {{{ Link url='#' text='Выйти'}}}
        </div>
    {{/Page}}

</div>

{{/Base}}
