{{#Base}}

<div id="profile" class="profile-page">

    {{#Page}}
        {{{ProfileForm formClass=formClass onSubmit=onUpdate user=currentUser name=currentUser.first_name fields=fields}}}
        <div class="profile-page__controls">
            {{{ Link url='#' text='Изменить пароль'}}}
            {{{ Button onClick=onLogout label='Выйти'}}}
        </div>
    {{/Page}}

</div>

{{/Base}}
