body{
  color: $global-font-color;
  font-size: $global-font-size;
  font-family: $global-font-family;
}

.index{
  @include flexbox(center, center, nowrap, column);

  height: 100vh;

  a{
    display: block;
    text-align: center;
    margin: 20px 0;
  }
}
