{{>layout/header/header componentStyle="500.scss"}}
<nav class="index">
    {{> link/link url='/pages/login/login.hbs' text='Login'}}
    {{> link/link url='/pages/signup/signup.html' text='Sign up'}}
    {{> link/link url='/pages/profile/profile.html' text='Profile'}}
    {{> link/link url='/pages/chat/chat.html' text='Chat'}}
    {{> link/link url='/pages/404/404.html' text='404'}}
    {{> link/link url='/pages/500/500.html' text='500'}}
</nav>
{{>layout/footer/footer}}
