<div class="dialog-search">
    <form action="">
        {{{Input type="text" name="search" id="search_input" placeholder="Поиск" class='search' isSearch='true' required='required'}}}
    </form>
</div>

