.input{
  .label{
    color: lighten($global_font_color, 40%);
    font-weight: 500;
    position: absolute;
    left: 0;
    transform: translate(0, 8px);
    transition: 0.3s;
  }
  .text-input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #3369F3;
    padding: 8px 0;
    &:focus{
      outline: none;
    }
    &::placeholder{
      opacity: 0;
      font-size: 0;
      color: transparent;
    }
  }
  .text-input:focus + .label,
  .text-input:valid + .label{
    font-size: 0.692307692em;
    transform: translate(0, -8px);
  }
}
