{{#Base}}
    <div id="signup" class="signup">
        {{#Page}}
            {{{AuthForm onSubmit=onSubmit title=title buttonLabel=buttonLabel linkUrl=linkUrl linkText=linkText fields=fields }}}
        {{/Page}}
    </div>
{{/Base}}






