.auth-form{
  position: relative;
  width: 340px;
  min-height: 450px;
  text-align: center;
  padding: 50px 30px 92px;
  border-radius: 12px;
  background-color: $global_background_color;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  &__title{
    font-size: 1.538461538em;
    font-weight: 500;
    margin-bottom: 40px;
  }
  &__input-group{
    margin-bottom: 24px;
    position: relative;
  }
  &__submit{
    position: absolute;
    left: 0;
    bottom: 30px;
    width: 100%;
    padding: 0 30px;
  }
  button{
    margin-bottom: 14px;
  }
}