{{#Base}}

<div id="change-password" class="profile-page">

    {{#Page}}
        {{{ProfileForm response=response submitDisabled=submitDisabled formClass=formClass onSubmit=changePassword user=currentUser name=currentUser.first_name fields=fields}}}
        {{{Link withRoute=true onClick=onLinkClick url='/settings' text='Назад в профиль'}}}
    {{/Page}}

</div>

{{/Base}}
