{{#Base}}

<div id="profile" class="profile-page">

    {{#Page}}
        {{{ProfileForm response=response submitDisabled=submitDisabled formClass=formClass onSubmit=changePassword user=currentUser name=currentUser.first_name fields=fields}}}
    {{/Page}}

</div>

{{/Base}}
